body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.gallery{
  display: grid;
  justify-content: "center";
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px 30px;
  margin-top: 15px;
}

.cart-item-img > img {
  max-width: 200px;
  max-height: 125px;
}

#checkout-prompt{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#checkout-prompt > a{
  margin-top: 30px;
}
